.env
__pycache__
/modules/__pycache__
.venv
plex_mcp_server.egg-info/dependency_links.txt
plex_mcp_server.egg-info/entry_points.txt
plex_mcp_server.egg-info/PKG-INFO
plex_mcp_server.egg-info/requires.txt
plex_mcp_server.egg-info/SOURCES.txt
plex_mcp_server.egg-info/top_level.txt
build/lib/plex_mcp_server.py
build/lib/watcher.py
build/lib/modules/__init__.py
build/lib/modules/client.py
build/lib/modules/collection.py
build/lib/modules/library.py
build/lib/modules/media.py
build/lib/modules/playlist.py
build/lib/modules/search.py
build/lib/modules/server.py
build/lib/modules/sessions.py
build/lib/modules/user.py
